<form [formGroup]="assessmentFG" novalidate>
<div>
<h2>Requestor Details:</h2>
<fieldset [formGroup]="requestorFG">
<ul class="ul li span" spellcheck="true">
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.firstName" [formControl]="firstNameFC" required 
 name="first name" placeholder="first name">
    <mat-error *ngIf="firstNameFC.invalid">
      {{ getTextErrorMessages(firstNameFC, 'name', 60) }}
    </mat-error>
 </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.lastName" [formControl]="lastNameFC" required 
 name="last name" placeholder="last name">
    <mat-error *ngIf="lastNameFC.invalid">
      {{ getTextErrorMessages(lastNameFC, 'name', 60) }}
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.title" [formControl]="titleFC" required
 name="title" placeholder="title">
    <mat-error *ngIf="lastNameFC.invalid">
      {{ getTextErrorMessages(titleFC, 'title', 60) }}
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput type="tel" [(ngModel)]="requestor.phone" [formControl]="phoneFC" required
 name="phone" placeholder="phone" >
 <mat-hint>(nnn) nnn-nnnn</mat-hint>
    <mat-error *ngIf="phoneFC.invalid">
      {{ getFieldErrorMessages(phoneFC, 'phone') }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.email" [formControl]="emailFC" required
 name="email" placeholder="email" >
 <mat-hint>name@domain name</mat-hint>
    <mat-error *ngIf="emailFC.invalid">
      {{ getFieldErrorMessages(emailFC, 'email') }}
    </mat-error>
  </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.companyName"  [formControl]="companyNameFC" required
 name="company name" placeholder="company name" >
    <mat-error *ngIf="companyNameFC.invalid">
      {{ getTextErrorMessages(companyNameFC, 'company name', 60) }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.companyAddress"  [formControl]="companyAddressFC" required
 name="company address" placeholder="company address" size=50>
    <mat-error *ngIf="companyAddressFC.invalid">
      {{ getTextErrorMessages(companyAddressFC, 'company address', 100) }}
    </mat-error>
  </mat-form-field>
  </li>
</ul>
</fieldset>
</div>

<div>
<h2> Assessment Information:</h2>
<fieldset formGroupName="assessmentInfoFG">
<ul class="ul li span" spellcheck="true">

 <li>
 <mat-form-field class="half-width"> 
  <mat-select placeholder="hq location" 
   [(ngModel)]="assessmentInfo.hqLocation" [formControl]="hqLocationFC"
   class="additional-selection" required> 
   <mat-option *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{
  country.name }}</mat-option> </mat-select> 
    <mat-error *ngIf="hqLocationFC.hasError('required')">
      You must select a HQ location
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="countries serviced"
  [(ngModel)]="assessmentInfo.servicedCountries" [formControl]="countriesServicedFC"  
  class="additional-selection" multiple required> 
  <mat-select-trigger> {{countriesServicedFC.value ? countriesServicedFC.value[0] : ''}} 
            <span *ngIf="countriesServicedFC.value?.length > 1" >
               (+{{countriesServicedFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{
 country.name }}</mat-option> </mat-select> 
    <mat-error *ngIf="countriesServicedFC.invalid">
      You must select the that are countries serviced.
    </mat-error>
 </mat-form-field>
  </li>
  
<li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.officeCount" [formControl]="officeCountFC" required 
 name="office count" placeholder="office count">
    <mat-error *ngIf="officeCountFC.invalid">
      {{ getFieldErrorMessages(officeCountFC, 'office count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="office locations" 
  [(ngModel)]="assessmentInfo.officeLocations" [formControl]="officeLocationsFC" 
  class="additional-selection"  multiple required> 
  <mat-select-trigger> {{officeLocationsFC.value ? officeLocationsFC.value[0] : ''}} 
            <span *ngIf="officeLocationsFC.value?.length > 1" >
               (+{{officeLocationsFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{
 country.name }}</mat-option> </mat-select> 
    <mat-error *ngIf="officeLocationsFC.invalid">
      You must select the office locations.
    </mat-error>
 </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.employeeCount" [formControl]="employeeCountFC" required
 name="employee count" placeholder="employee count" size=50>
    <mat-error *ngIf="employeeCountFC.invalid">
      {{ getFieldErrorMessages(employeeCountFC, 'employee count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="employee locations"
  [(ngModel)]="assessmentInfo.employeeLocations" [formControl]="employeeLocationsFC" class="additional-selection" multiple required> 
  <mat-select-trigger> {{employeeLocationsFC.value ? employeeLocationsFC.value[0] : ''}} 
            <span *ngIf="employeeLocationsFC.value?.length > 1" >
               (+{{employeeLocationsFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{ country.name }}</mat-option> 
  </mat-select> 
    <mat-error *ngIf="employeeLocationsFC.invalid">
      You must select employee locations.
    </mat-error>
  </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.contractorCount" [formControl]="contractorCountFC" required
 name="contractor count" placeholder="contractor count" size=50>
    <mat-error *ngIf="contractorCountFC.invalid">
      {{ getFieldErrorMessages(contractorCountFC, 'contractor count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="contractor locations"
  [(ngModel)]="assessmentInfo.contractorLocations" [formControl]="contractorLocationsFC" class="additional-selection" multiple required> 
  <mat-select-trigger> {{contractorLocationsFC.value ? contractorLocationsFC.value[0] : ''}} 
            <span *ngIf="contractorLocationsFC.value?.length > 1" class="additional-selection" >
               (+{{contractorLocationsFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{ country.name }}</mat-option> 
  </mat-select> 
    <mat-error *ngIf="contractorLocationsFC.invalid">
      You must select contractor locations.
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.productTypeCount" [formControl]="productTypeCountFC" required
 name="product type count" placeholder="product type count" size=50>
    <mat-error *ngIf="productTypeCountFC.invalid">
      {{ getFieldErrorMessages(productTypeCountFC, 'product type count') }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.customerCount" [formControl]="customerCountFC" required
 name="customer count" placeholder="customer count" >
    <mat-error *ngIf="productTypeCountFC.invalid">
      {{ getFieldErrorMessages(productTypeCountFC, 'product type count') }}
    </mat-error>
  </mat-form-field>
  </li>
  
  <li>
 <mat-form-field class="third-width">
 <input matInput [(ngModel)]="assessmentInfo.iaasProviderCount" [formControl]="iaasProviderCountFC" required
 name="IAAS Provider Count" placeholder="IAAS provider count">
    <mat-error *ngIf="iaasProviderCountFC.invalid">
      {{ getFieldErrorMessages(iaasProviderCountFC, 'IAAS Provider count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="third-width"> 
 <mat-select placeholder="IAAS providers"
  [(ngModel)]="assessmentInfo.iaasProviders" [formControl]="iaasProvidersFC" 
  class="additional-selection" multiple required> 
  <mat-select-trigger> {{iaasProvidersFC.value ? iaasProvidersFC.value[0] : ''}} 
            <span *ngIf="iaasProvidersFC.value?.length > 1" >
               (+{{iaasProvidersFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let provider of IAAS_PROVIDER_LIST" [value]="provider.id">{{
 provider.name }}</mat-option> </mat-select> </mat-form-field>
 
 <mat-form-field class="third-width"> 
 <mat-select placeholder="IAAS provider locations"
  [(ngModel)]="assessmentInfo.iaasProviderLocations" [formControl]="iaasProviderLocationsFC" 
  class="additional-selection" multiple required> 
  <mat-select-trigger> {{iaasProviderLocationsFC.value ? iaasProviderLocationsFC.value[0] : ''}} 
            <span *ngIf="iaasProviderLocationsFC.value?.length > 1"  >
               (+{{iaasProviderLocationsFC.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of COUNTRY_LIST" [value]="country.id">{{
 country.name }}</mat-option> </mat-select> 
 </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="third-width">
 <mat-select placeholder="privacy shield certified?"
 [(ngModel)]="assessmentInfo.isPrivacyShieldCertified" [formControl]="isPrivacyShieldCertifiedFC"
 class="additional-selection" required>
   <mat-option [value]=true>True</mat-option>
   <mat-option [value]=false>False</mat-option>
   </mat-select>
    <mat-error *ngIf="isPrivacyShieldCertifiedFC.invalid && isPrivacyShieldCertifiedFC.dirty">
      You must select a value.
    </mat-error>
  </mat-form-field>

 <mat-form-field class="third-width"> 
 <mat-select placeholder="certifications"
   [(ngModel)]="assessmentInfo.certifications" [formControl]="certificationsFC" 
   class="additional-selection" multiple required> 
   <mat-select-trigger>{{certificationsFC.value ? certificationsFC.value[0] :
  ''}} <span *ngIf="certificationsFC.value?.length > 1" >
   (+{{certificationsFC.value.length - 1}} others) </span> 
   </mat-select-trigger> 
   <mat-option
   *ngFor="let certification of CERTIFICATION_LIST" [value]="certification.id">{{certification.name}}</mat-option> 
   </mat-select> 
    <mat-error *ngIf="certificationsFC.invalid">
      You must select your certifications.
    </mat-error>
   </mat-form-field>
   
 <mat-form-field class="third-width">
 <mat-select placeholder="data classification levels"
 [(ngModel)]="assessmentInfo.dataClassificationLevels" [formControl]="dataClassificationLevelsFC" 
   class="additional-selection" required> 
   <mat-option [value]=1>One</mat-option>
   <mat-option [value]=2>Two</mat-option>
   <mat-option [value]=3>Three</mat-option>
   <mat-option [value]=4>Four</mat-option>
   <mat-option [value]=5>Five</mat-option>
   <mat-option [value]=6>Six</mat-option>
   <mat-option [value]=7>Seven</mat-option>
   <mat-option [value]=8>Eight</mat-option>
   <mat-option [value]=9>Nine</mat-option>
   <mat-option [value]=10>Ten</mat-option>
   </mat-select>
    <mat-error *ngIf="dataClassificationLevelsFC.invalid">
      You must select contractor locations.
    </mat-error>
  </mat-form-field>
   </li>
</ul>
</fieldset>
</div>
<div class="button-row">
  <button mat-raised-button color="primary" [disabled]="assessmentFG.invalid || assessmentFG.pristine" 
      (click)="submitForm()">Submit</button>
</div>
<pre>{{this.requestorFG.value | json}}</pre>
</form>
<p><b>Internal Policy:</b> All data destroyed upon use.</p>
<p><b>Disclaimer:</b></p>
<p>This <b>GDPR Quick Assessment</b> is intended to assist organizations with assessing their GDPR compliance 
      complexity.  This GDPR Quick Assessment is provided for general public informational purposes only. 
      Any results, scoring or recommendations produced by the GDPR Quick Assessment should not be relied 
      upon to determine how GDPR applies to an organization or an organization’s compliance with GDPR, and 
      they do not constitute legal advice, certifications or guarantees regarding GDPR compliance.  
      Instead, we hope the GDPR Detailed Assessment identifies technologies and additional steps that 
      organizations can implement to simplify their GDPR compliance efforts.  The application of GDPR is 
      highly fact-specific. We encourage all organizations using this GDPR Quick Assessment to work with a 
      legally qualified professional to discuss GDPR, how it applies specifically to their organization, 
      and how best to ensure compliance.</p>
 <p><b>AMERICAN CYBER SECURITY MANAGEMENT MAKES NO WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, AS TO THE 
      INFORMATION IN THIS GDPR DETAILED ASSESSMENT.</b> American CyberSecurity Management disclaims any 
      conditions, express or implied, or other terms that use of the  products or services will ensure 
      the organization’s compliance with the GDPR.  This GDPR Quick Assessment is provided "as-is".  
      Information and recommendations expressed in this GDPR Detailed Assessment may change without notice.</p>
 <p>This GDPR Quick Assessment does not provide the user with any legal rights to any intellectual 
      property in any American Cyber Security Management product or service.  Use of the tool is for 
      internal, reference purposes only; however, American Cyber Security Management partners may 
      distribute the GDPR Quick Assessment to their customers for such customers’ internal, reference 
      purposes only. Any distribution of the GDPR Quick Assessment by a American Cyber Security Management 
      partner to its customers must include terms consistent with those set forth in this disclaimer.</p>
 <p><b>© 2017 American Cyber Security Management.  All rights reserved</b></p>