<form [formGroup]="assessmentFG" novalidate>
<div>
<h2>Requestor Details:</h2>
<fieldset [formGroup]="requestorFG">
<ul class="ul li span" spellcheck="true">
 <li>
 <mat-form-field class="half-width">
 <input matInput type="text" [(ngModel)]="requestor.firstName" [formControl]="firstName" required 
 name="first name" placeholder="First Name">
    <mat-error *ngIf="firstName.invalid">
      {{ getTextErrorMessages(firstName, 'name', 60) }}
    </mat-error>
 </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput type="text" [(ngModel)]="requestor.lastName" [formControl]="lastName" required 
 name="last name" placeholder="Last Name">
    <mat-error *ngIf="lastName.invalid">
      {{ getTextErrorMessages(lastName, 'name', 60) }}
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput type="text" [(ngModel)]="requestor.title" [formControl]="title" required
 name="title" placeholder="Title">
    <mat-error *ngIf="lastName.invalid">
      {{ getTextErrorMessages(title, 'title', 60) }}
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput type="tel" [(ngModel)]="requestor.phone" [formControl]="phone" required
 name="phone" placeholder="Phone" >
 <mat-hint>+n (nnn) nnn-nnnn</mat-hint>
    <mat-error *ngIf="phone.invalid">
      {{ getFieldErrorMessages(phone, 'phone') }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput type="email" [(ngModel)]="requestor.email" [formControl]="email" required
 name="email" placeholder="Email" >
 <mat-hint>name@domain name</mat-hint>
    <mat-error *ngIf="email.invalid">
      {{ getFieldErrorMessages(email, 'email') }}
    </mat-error>
  </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput type="text" [(ngModel)]="requestor.companyName"  [formControl]="companyName" required
 name="company name" placeholder="Company Name" >
    <mat-error *ngIf="companyName.invalid">
      {{ getTextErrorMessages(companyName, 'company name', 60) }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="requestor.companyAddress"  [formControl]="companyAddress" required
 name="company address" placeholder="Company Address" size=50>
   <mat-hint>nnnnn N. Street Name St. Suite #nnn, City, State, Zip Code Country</mat-hint>
    <mat-error *ngIf="companyAddress.invalid">
      {{ getTextErrorMessages(companyAddress, 'company address', 100) }}
    </mat-error>
  </mat-form-field>
  </li>
</ul>
</fieldset>
</div>

<div>
<h2> Assessment Information:</h2>
<fieldset formGroupName="assessmentInfoFG">
<ul class="ul li span" spellcheck="true">

 <li>
  <mat-form-field class="half-width"> 
    <input type="text" placeholder="HQ Location" aria-label="HQ Location"
     matInput [(ngModel)]="assessmentInfo.hqLocation" [formControl]="hqLocation" [matAutocomplete]="hqLocationAC" 
     class="additional-selection" required>
     
    <mat-autocomplete #hqLocationAC="matAutocomplete" >
    <!-- 
        <mat-select [(ngModel)]="assessmentInfo.hqLocation" [formControlName]="hqLocation" class="additional-selection" required> 
          <mat-option *ngFor="let country of filteredHQLocations | async" [value]="country.id">{{ country.name }}</mat-option> 
        </mat-select> 
     -->
        <mat-option *ngFor="let country of filteredHQLocations | async" [value]="country.id">{{ country.name }}</mat-option>
    </mat-autocomplete>
     
    <mat-error *ngIf="hqLocation.hasError('required')">
      You must select a HQ location
    </mat-error>
     
    <mat-error *ngIf="hqLocation.hasError('InvalidValue')">
      You must select a HQ location from the list.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="half-width"> 
    
    <mat-select placeholder="Countries Serviced"  aria-label="Countries Serviced" 
        [(ngModel)]="assessmentInfo.servicedCountries" [formControl]="servicedCountries"  
        class="additional-selection" multiple required> 
    
        <mat-select-trigger> {{servicedCountries.value ? servicedCountries.value[0] : ''}} 
            <span *ngIf="servicedCountries.value?.length > 1" >
               (+{{servicedCountries.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        
        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option> 
     
     </mat-select> 
     
     <mat-error *ngIf="servicedCountries.invalid">
      Please select the countries where your organization provides services.
     </mat-error>
  </mat-form-field>
 
  </li>
  
  <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.officeCount" [formControl]="officeCount" required 
 name="office count" placeholder="Office Count">
    <mat-error *ngIf="officeCount.invalid">
      {{ getFieldErrorMessages(officeCount, 'office count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="Office Locations" 
  [(ngModel)]="assessmentInfo.officeLocations" [formControl]="officeLocations" 
  class="additional-selection"  multiple required> 
    <mat-select-trigger>{{officeLocations.value ? officeLocations.value[0] : ''}} 
            <span *ngIf="officeLocations.value?.length > 1" >
               (+{{officeLocations.value.length - 1}} others) 
            </span> 
    </mat-select-trigger>   
    <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option> 
  </mat-select> 
  <mat-error *ngIf="officeLocations.invalid">
      You must select the office locations.
  </mat-error>
 </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.employeeCount" [formControl]="employeeCount" required
 name="employee count" placeholder="Employee Count" size=50>
    <mat-error *ngIf="employeeCount.invalid">
      {{ getFieldErrorMessages(employeeCount, 'employee count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="Employee Locations"
  [(ngModel)]="assessmentInfo.employeeLocations" [formControl]="employeeLocations" class="additional-selection" multiple required> 
  <mat-select-trigger> {{employeeLocations.value ? employeeLocations.value[0] : ''}} 
            <span *ngIf="employeeLocations.value?.length > 1" >
               (+{{employeeLocations.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option> 
  </mat-select> 
    <mat-error *ngIf="employeeLocations.invalid">
      You must select employee locations.
    </mat-error>
  </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.contractorCount" [formControl]="contractorCount" required
 name="contractor count" placeholder="Contractor Count" size=50
 (input)="onUpdateContractorCountValue()"
 >
    <mat-error *ngIf="contractorCount.invalid">
      {{ getFieldErrorMessages(contractorCount, 'contractor count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="half-width"> 
 <mat-select placeholder="Contractor Locations"
  [(ngModel)]="assessmentInfo.contractorLocations" [formControl]="contractorLocations" class="additional-selection" multiple required> 
  <mat-select-trigger> {{contractorLocations.value ? contractorLocations.value[0] : ''}} 
            <span *ngIf="contractorLocations.value?.length > 1" class="additional-selection" >
               (+{{contractorLocations.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option> 
  </mat-select> 
    <mat-error *ngIf="contractorLocations.invalid">
      You must select contractor locations.
    </mat-error>
  </mat-form-field>
 </li>
  
 <li>
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.productTypeCount" [formControl]="productTypeCount" required
 name="product type count" placeholder="Product Type Count" size=50>
    <mat-error *ngIf="productTypeCount.invalid">
      {{ getFieldErrorMessages(productTypeCount, 'Product Type Count') }}
    </mat-error>
  </mat-form-field>
  
 <mat-form-field class="half-width">
 <input matInput [(ngModel)]="assessmentInfo.customerCount" [formControl]="customerCount" required
 name="customer count" placeholder="Customer Count" >
    <mat-error *ngIf="productTypeCount.invalid">
      {{ getFieldErrorMessages(productTypeCount, 'Product Type Count') }}
    </mat-error>
  </mat-form-field>
  </li>
  
  <li>
 <mat-form-field class="third-width">
 <input matInput [(ngModel)]="assessmentInfo.iaasProviderCount" [formControl]="iaasProviderCount" required
 name="IAAS Provider Count" placeholder="IAAS Provider Count"
 (input)="onUpdateProviderCountValue()"
 >
    <mat-error *ngIf="iaasProviderCount.invalid">
      {{ getFieldErrorMessages(iaasProviderCount, 'IAAS Provider Count') }}
    </mat-error>
  </mat-form-field>
 
 <mat-form-field class="third-width"> 
 <div >
 <mat-select placeholder="IAAS Providers" 
  [(ngModel)]="assessmentInfo.iaasProviders" [formControl]="iaasProviders" 
  class="additional-selection" multiple required> 
  <mat-select-trigger> {{iaasProviders.value ? iaasProviders.value[0] : ''}} 
            <span *ngIf="iaasProviders.value?.length > 1" >
               (+{{iaasProviders.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let provider of IAAS_PROVIDER_LIST" [value]="provider.id">{{ provider.name }}</mat-option> 
 </mat-select> 
 </div>
 </mat-form-field>
 
 <mat-form-field class="third-width"> 
 <mat-select placeholder="IAAS Provider Locations" 
  [(ngModel)]="assessmentInfo.iaasProviderLocations" [formControl]="iaasProviderLocations" 
  class="additional-selection" multiple required> 
  <mat-select-trigger> {{iaasProviderLocations.value ? iaasProviderLocations.value[0] : ''}} 
            <span *ngIf="iaasProviderLocations.value?.length > 1"  >
               (+{{iaasProviderLocations.value.length - 1}} others) 
            </span> 
        </mat-select-trigger>   
        <mat-option
  *ngFor="let country of countries" [value]="country.id">{{
 country.name }}</mat-option> </mat-select> 
 </mat-form-field>
 </li>
 
 <li>
 <mat-form-field class="third-width">
 <mat-select placeholder="Privacy Shield Certified?"
 [(ngModel)]="assessmentInfo.isPrivacyShieldCertified" [formControl]="isPrivacyShieldCertified"
 class="additional-selection" required>
   <mat-option [value]=true>True</mat-option>
   <mat-option [value]=false>False</mat-option>
   </mat-select>
    <mat-error *ngIf="isPrivacyShieldCertified.invalid && isPrivacyShieldCertified.dirty">
      You must select a value.
    </mat-error>
  </mat-form-field>

 <mat-form-field class="third-width"> 
 <mat-select placeholder="Certifications"
   [(ngModel)]="assessmentInfo.certifications" [formControl]="certifications" 
   class="additional-selection" multiple required> 
   <mat-select-trigger>{{certifications.value ? certifications.value[0] :
  ''}} <span *ngIf="certifications.value?.length > 1" >
   (+{{certifications.value.length - 1}} others) </span> 
   </mat-select-trigger> 
   <mat-option
   *ngFor="let certification of CERTIFICATION_LIST" [value]="certification.id">{{certification.name}}</mat-option> 
   </mat-select> 
    <mat-error *ngIf="certifications.invalid">
      You must select your certifications.
    </mat-error>
   </mat-form-field>
   
 <mat-form-field class="third-width">
 <mat-select placeholder="Number of Data Classification Levels"
 [(ngModel)]="assessmentInfo.dataClassificationLevels" [formControl]="dataClassificationLevels" 
   class="additional-selection" required> 
   <mat-option [value]=1>One</mat-option>
   <mat-option [value]=2>Two</mat-option>
   <mat-option [value]=3>Three</mat-option>
   <mat-option [value]=4>Four</mat-option>
   <mat-option [value]=5>Five</mat-option>
   <mat-option [value]=6>Six</mat-option>
   <mat-option [value]=7>Seven</mat-option>
   <mat-option [value]=8>Eight</mat-option>
   <mat-option [value]=9>Nine</mat-option>
   <mat-option [value]=10>Ten</mat-option>
   </mat-select>
    <mat-error *ngIf="dataClassificationLevels.invalid">
      You must select contractor locations.
    </mat-error>
  </mat-form-field>
   </li>
</ul>
</fieldset>
<div *ngIf="assessmentFG.invalid && assessmentFG.dirty">
    <ul>
      <li class="error-text" *ngFor="let error of getValidationErrors()">
          {{ error }}
      </li>
    </ul>
</div>
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<div class="button-row">
  <button mat-raised-button color="primary" [disabled]="assessmentFG.invalid || assessmentFG.pristine" 
      (click)="submitForm()">Submit</button>
</div>
</div>
</form>
<p><b>Internal Policy:</b> All data destroyed upon use.</p>
<p><b>Disclaimer:</b></p>
<p>This <b>GDPR Quick Assessment</b> is intended to assist organizations with assessing their GDPR compliance 
      complexity.  This GDPR Quick Assessment is provided for general public informational purposes only. 
      Any results, scoring or recommendations produced by the GDPR Quick Assessment should not be relied 
      upon to determine how GDPR applies to an organization or an organization’s compliance with GDPR, and 
      they do not constitute legal advice, certifications or guarantees regarding GDPR compliance.  
      Instead, we hope the GDPR Detailed Assessment identifies technologies and additional steps that 
      organizations can implement to simplify their GDPR compliance efforts.  The application of GDPR is 
      highly fact-specific. We encourage all organizations using this GDPR Quick Assessment to work with a 
      legally qualified professional to discuss GDPR, how it applies specifically to their organization, 
      and how best to ensure compliance.</p>
 <p><b>AMERICAN CYBER SECURITY MANAGEMENT MAKES NO WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, AS TO THE 
      INFORMATION IN THIS GDPR DETAILED ASSESSMENT.</b> American CyberSecurity Management disclaims any 
      conditions, express or implied, or other terms that use of the  products or services will ensure 
      the organization’s compliance with the GDPR.  This GDPR Quick Assessment is provided "as-is".  
      Information and recommendations expressed in this GDPR Detailed Assessment may change without notice.</p>
 <p>This GDPR Quick Assessment does not provide the user with any legal rights to any intellectual 
      property in any American Cyber Security Management product or service.  Use of the tool is for 
      internal, reference purposes only; however, American Cyber Security Management partners may 
      distribute the GDPR Quick Assessment to their customers for such customers’ internal, reference 
      purposes only. Any distribution of the GDPR Quick Assessment by a American Cyber Security Management 
      partner to its customers must include terms consistent with those set forth in this disclaimer.</p>
 <p><b>© 2017 American Cyber Security Management.  All rights reserved</b></p>