h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
   font-size: 3.6rem;
   -webkit-margin-before: 0.83em;
   -webkit-margin-after: 0.83em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   display: block;
}